<div class="font-normal">
    <div class='mb-4'>
        <h1 class='font-bold text-2xl'>Create Hosts</h1>
    </div>
    <div class="font-semibold mb-10">
        <div class="mb-6">
            <label for="items" class="block text-gray-700">MIPS of the Core</label>
            <div class="font-medium text-xs text-gray-500 mb-2.5" id="items_help">mille instruction par seconde</div>
            <input type="number" id="mips" name="mips" [(ngModel)]="mips"
                class="bg-gray-50 font-normal border border-gray-300 text-gray-700 text-sm rounded-lg outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                required>

            <button (click)="addCore()"
                class="text-white bg-blue-500 hover:bg-blue-400 font-normal focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg w-full sm:w-auto my-4 px-5 py-2 text-center">+
                Add</button>

            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                        <tr>
                            <th scope="col" class="px-6 py-3 rounded-s-lg">
                                Core id
                            </th>
                            <th scope="col" class="px-6 py-3">
                                MIPS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mips of mipsList; let index = index;" class="bg-white dark:bg-gray-800">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{index}}
                            </th>
                            <td class="px-6 py-4">
                                {{mips}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mb-6">
            <label for="items" class="block mb-2.5 text-gray-700">Host Storage (MB)</label>
            <input type="number" id="items" name="items" [(ngModel)]="Host.storage"
                class="bg-gray-50 font-normal border border-gray-300 text-gray-700 text-sm rounded-lg outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                required>
        </div>
        <div class="mb-6">
            <label for="items" class="block mb-2.5 text-gray-700">Host Memory (MB)</label>
            <input type="number" id="items" name="items" [(ngModel)]="Host.ram"
                class="bg-gray-50 font-normal border border-gray-300 text-gray-700 text-sm rounded-lg outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                required>
        </div>
        <div class="mb-6">
            <label for="items" class="block text-gray-700">BW</label>
            <div class="font-medium text-xs text-gray-500 mb-2.5" id="items_help">La bande passante</div>
            <input type="number" id="items" name="items" [(ngModel)]="Host.bw"
                class="bg-gray-50 font-normal border border-gray-300 text-gray-700 text-sm rounded-lg outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
                required>
        </div>
        <button (click)="addHost()"
            class="text-white bg-blue-500 hover:bg-blue-400 font-normal focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg w-full sm:w-auto mb-4 px-5 py-2 text-center">+
            Add</button>

        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                    <tr>
                        <th scope="col" class="px-6 py-3 rounded-s-lg">
                            Host id
                        </th>
                        <th scope="col" class="px-6 py-3">
                            MIPS
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Host Storage (MB)
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Host Memory (MB)
                        </th>
                        <th scope="col" class="px-6 py-3 rounded-e-lg">
                            BW
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let host of hosts; let index = index;" class="bg-white dark:bg-gray-800">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{index}}
                        </th>
                        <td class="px-6 py-4">
                            {{host.mips}}
                        </td>
                        <td class="px-6 py-4">
                            {{host.storage}}
                        </td>
                        <td class="px-6 py-4">
                            {{host.ram}}
                        </td>
                        <td class="px-6 py-4">
                            {{host.bw}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>