<nav class="flex flex-shrink-0 z-40 justify-between items-center py-9 h-20">

    <!-- Logo -->
    <a routerLink="/" class="flex justify-start items-center mx-8 w-full select-none">
        <img src="assets/logo.webp" alt="nft-logo" width="50px" />
        <h1 class="text-gray-900 text-xl font-extrabold mx-4">CloudSim</h1>
    </a>

    <!-- Links -->
    <ul class="flex flex-row justify-end items-center w-full mx-8 text-base select-none">
        <li class="mx-3 cursor-pointer">Home</li>
        <li class="mx-3 cursor-pointer" type="button">Explores
        </li>
        <li class="mx-3 cursor-pointer">Create</li>
    </ul>
</nav>