<!-- <div [ngSwitch]="currentComponent">
    <app-datacenter-form *ngSwitchCase="'datacenter'" [datacenters]="datacenters"
        (changeCurrComponent)="receiveCurrentComponent($event)"
        (dataEvent)="receiveDataCenters($event)"></app-datacenter-form>
    <app-vm-form *ngSwitchCase="'vm'" [virtualmachines]="virtualMachines" [datacenters]="datacenters"
        (changeCurrComponent)="receiveCurrentComponent($event)"
        (dataEvent)="receiveVirtualMachines($event)"></app-vm-form>

    <app-preview-form *ngSwitchCase="'preview'" [datacenters]="datacenters"
        [virtualMachines]="virtualMachines"></app-preview-form>
</div> -->